@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: rgb(27,26,29);
  --grey: rgb(38,36,40);
  --light-grey: rgb(45,46,52);
  --red: rgb(243,61,32);
  --dark-text: rgb(115,124,130);
  --text-white: rgb(250,250,250);
  --transition: all 0.2 ease-out;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--text-white);
    background: var(--black)
  }
}
